body {
  background-color: #4281c0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 50px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

textarea {
  resize: vertical;
}

.btn-container {
  text-align: center;
}

.btn {
  margin-right: 10px;
}
